# C extensions
*.so
.coverage
.coverage.*
.cache

# test-files
test-files/*

# editor
.vscode
.idea


# Protobuffer generated code
proto/


# Added by cargo
*Cargo.lock
*target

# Generated stub files 
cartesi-grpc-interfaces/src/grpc_stubs/cartesi_machine.rs
cartesi-grpc-interfaces/src/grpc_stubs/cartesi_machine_manager.rs
cartesi-grpc-interfaces/src/grpc_stubs/versioning.rs
tests/rust-test-client/src/stubs/cartesi_machine.rs
tests/rust-test-client/src/stubs/cartesi_machine_manager.rs
tests/rust-test-client/src/stubs/versioning.rs


